@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
:root {
  --size: max(5px, 1vmin);
  --height: 80em;
  --pad: 1.25em;
  --border-radius: 6.666em;
  --gutter: calc(var(--pad) * 2);
  --scene-pad: 5vmin;
  --bg-blur: 0.333em;
  --button-width: 0.333em;
  --notch-height: 3.33em;
  --notch-width: 33.3%;
  --notch-radius: calc(var(--border-radius) - calc(var(--pad) * 2));
  --notch-duration: 0.333s;
  --ease: cubic-bezier(0.666, 0, 0.4, 1);
  --ease-spring: cubic-bezier(0.666, 0, 0.4, 1.2);
  --ease-out: cubic-bezier(0.15, 0, 0.333, 1);
  --border-width: 0.4em;
  --deep-purple: 284;
  --gold: 22.5;
  --space-black: 215;
  --silver: 254;
  --c-h: 145;
  --c-s: 16;
  --c-l: 20;
}

.scene {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Inter;
  font-size: var(--size);
  box-sizing: border-box;
}

.phone-con {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.phone {
  position: relative;
  z-index: 1;
  aspect-ratio: 37/76;
  background: black;
  height: var(--height);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%),
    0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
  box-sizing: border-box;
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.phone:before {
  content: "";
  position: absolute;
  top: var(--border-radius);
  right: calc(var(--border-width) * -1);
  bottom: var(--border-radius);
  left: calc(var(--border-width) * -1);
  border: 0.5em solid hsl(var(--c-h), 20%, 30%);
  border-left-width: 0;
  border-right-width: 0;
}

.buttons {
  position: absolute;
  inset: calc(var(--border-width) * -1);
  pointer-events: none;
}
.buttons .left,
.buttons .right {
  position: absolute;
  width: var(--button-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5em;
}
.buttons .left {
  right: 100%;
  top: calc(var(--border-radius) * 2);
}
.buttons .left .button:nth-child(1) {
  height: 3em;
  margin-bottom: 0.5em;
}
.buttons .right {
  left: 100%;
  transform: scale3d(-1, 1, 1);
  top: calc(var(--border-radius) * 3);
}
.buttons .right .button {
  height: 9.5em;
}
.buttons .button {
  background: hsl(var(--c-h), 20%, 95%);
  height: 6em;
  box-shadow: inset -0.15em 0 0.1em black,
    inset 0 0 0.1em hsl(var(--c-h), 30%, 90%),
    inset 0 0.2em 0.1em hsl(var(--c-h), 30%, 90%),
    inset 0 -0.2em 0.1em hsl(var(--c-h), 30%, 90%),
    inset -0.1em 0.333em 0.1em rgba(0, 0, 0, 0.5),
    inset -0.1em -0.333em 0.1em rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.screen-container {
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  border: var(--pad) solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--pad) * 2);
}
.screen-container:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: white;
  width: 36.6%;
  bottom: calc(var(--pad) * 0.75);
  height: calc(var(--pad) * 0.5);
  border-radius: calc(var(--pad) * 0.25);
  filter: drop-shadow(0 0.1em 0.25em rgba(0, 0, 0, 0.1));
}

.bg {
  position: absolute;
  inset: 0;
  background: url("https://i.pinimg.com/564x/61/c2/01/61c201b49b20a1cd342fdabd0f0def98.jpg");
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--border-radius) - var(--pad));
  overflow: hidden;
  transform: translateZ(0);
}

.notch-container {
  position: absolute;
  z-index: 3;
  top: var(--pad);
  right: var(--pad);
  left: var(--pad);
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: calc(var(--notch-radius) * 2);
  pointer-events: none;
  outline: none;
  transition: var(--notch-duration) var(--ease);
  transition-property: max-height, max-width, filter, transform;
  will-change: max-width, max-height, filter;
}
.is-resizing .notch-container,
.is-resizing .notch-container * {
  transition: none;
}
.notch-container:hover,
.notch-container:focus-within {
  --shadow-opacity: 0.5;
  transition-timing-function: var(--ease-spring);
}
.notch-container:hover .content,
.notch-container:focus-within .content {
  --content-padding: 2em;
}
.notch-container:hover .content .text,
.notch-container:focus-within .content .text {
  opacity: 1;
}
.notch-container:hover .notch,
.notch-container:focus-within .notch {
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
  transform: scale3d(1, 1, 1);
}
.notch-container:hover ~ .notch-blur,
.notch-container:focus-within ~ .notch-blur {
  opacity: 1;
  max-height: calc(var(--notch-radius) * 3.333 + var(--pad));
}
.notch-container:focus-within {
  max-height: calc(var(--notch-radius) * 3);
  --bar-height: 1em;
  --bar-opacity: 1;
}
.notch-container:focus-within .left,
.notch-container:focus-within .right {
  max-height: calc(100% - var(--bar-height, 0%) - var(--content-gap));
}
.notch-container:focus-within ~ .notch-blur {
  max-height: calc(var(--notch-radius) * 5);
  opacity: 1;
}

.notch-blur {
  position: absolute;
  z-index: 2;
  top: calc(var(--pad) - 3px);
  right: calc(var(--pad) - 3px);
  left: calc(var(--pad) - 3px);
  height: 100%;
  max-height: calc(var(--notch-radius) * 1.5);
  -webkit-backdrop-filter: blur(0.2em);
  backdrop-filter: blur(0.2em);
  -webkit-mask-image: linear-gradient(
    to bottom,
    hsla(0deg, 0%, 0%, 1) 60%,
    hsla(0deg, 0%, 0%, 0.738) 67.6%,
    hsla(0deg, 0%, 0%, 0.541) 73.6%,
    hsla(0deg, 0%, 0%, 0.382) 78.8%,
    hsla(0deg, 0%, 0%, 0.278) 82.6%,
    hsla(0deg, 0%, 0%, 0.194) 86%,
    hsla(0deg, 0%, 0%, 0.126) 89.2%,
    hsla(0deg, 0%, 0%, 0.075) 92.08%,
    hsla(0deg, 0%, 0%, 0.042) 94.44%,
    hsla(0deg, 0%, 0%, 0.021) 96.4%,
    hsla(0deg, 0%, 0%, 0.008) 98.08%,
    hsla(0deg, 0%, 0%, 0.002) 99.28%,
    hsla(0deg, 0%, 0%, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    hsla(0deg, 0%, 0%, 1) 60%,
    hsla(0deg, 0%, 0%, 0.738) 67.6%,
    hsla(0deg, 0%, 0%, 0.541) 73.6%,
    hsla(0deg, 0%, 0%, 0.382) 78.8%,
    hsla(0deg, 0%, 0%, 0.278) 82.6%,
    hsla(0deg, 0%, 0%, 0.194) 86%,
    hsla(0deg, 0%, 0%, 0.126) 89.2%,
    hsla(0deg, 0%, 0%, 0.075) 92.08%,
    hsla(0deg, 0%, 0%, 0.042) 94.44%,
    hsla(0deg, 0%, 0%, 0.021) 96.4%,
    hsla(0deg, 0%, 0%, 0.008) 98.08%,
    hsla(0deg, 0%, 0%, 0.002) 99.28%,
    hsla(0deg, 0%, 0%, 0) 100%
  );
  opacity: 0;
  border-radius: calc(var(--border-radius) - var(--pad));
  transition: var(--notch-duration) var(--ease);
  transition-property: max-height, max-width, opacity, transform;
  will-change: max-width, max-height;
}

.notch {
  position: relative;
  border-radius: var(--notch-radius);
  pointer-events: all;
  overflow: hidden;
  color: white;
  display: flex;
  cursor: pointer;
  width: 100%;
  transition: inherit;
  transition-property: inherit;
  will-change: inherit;
  filter: drop-shadow(0 1em 2em hsla(0 0% 0% / var(--shadow-opacity, 0)));
  transform: scale3d(0.375, 0.4, 1);
  transform-origin: top;
}
.notch:before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='5' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
  border-radius: inherit;
}

.content {
  --content-padding: 1.75em;
  --duration-height: 0.5em;
  --content-gap: 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  padding: var(--content-padding);
  gap: var(--content-gap);
  font-size: 125%;
  transition-property: padding;
  will-change: padding;
  position: relative;
}
.content .left,
.content .right {
  height: 100%;
  max-height: calc(100% - var(--bar-height, 0%));
  display: flex;
  align-items: center;
  gap: 1em;
}
.content,
.content .left,
.content .right,
.content .bar,
.content .text {
  transition: var(--notch-duration) var(--ease-out);
}
.content .left,
.content .right,
.content .bar {
  transition-property: max-height, opacity;
  will-change: max-height;
}
.content .left {
  flex-grow: 2;
}
.content .text {
  display: flex;
  flex-direction: column;
  gap: 0.333em;
  transition-property: opacity;
  opacity: var(--bar-opacity, 0);
}
.content .text:before {
  content: "Travis Scott";
  order: 1;
  text-transform: uppercase;
}
.content .text:after {
  order: 2;
  content: "HYAENA ";
  opacity: 0.5;
}
.content .right {
  flex-grow: 1;
}
.content .tile {
  background: url("https://www.rollingstone.com/wp-content/uploads/2023/07/travis-scott-album-review-2.jpg?w=1581&h=1054&crop=1");
  background-position: center;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 33.3%;
  position: relative;
}

.content .bar {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-basis: 100%;
  height: 100%;
  max-height: var(--bar-height, 0%);
  color: rgba(255, 255, 255, 0.5);
  opacity: var(--bar-opacity, 0);
}
.content .bar .duration {
  position: relative;
  height: var(--duration-height);
  background: rgba(255, 255, 255, 0.25);
  border-radius: calc(var(--duration-height) * 0.5);
  overflow: hidden;
  flex-grow: 1;
}
.content .bar .duration:before {
  content: "";
  height: 100%;
  background: white;
  width: 25%;
  position: absolute;
}
.content .bar:before {
  content: "1:20";
}
.content .bar:after {
  content: "-1:48";
}

.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--notch-height);
  aspect-ratio: 1/1;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  z-index: 4;
  top: calc(var(--pad) * 2);
  right: calc(50% - calc(var(--notch-width) * 0.5));
  margin-right: calc(var(--pad) * 0.333);
}
.camera:before {
  content: "";
  height: 33.3%;
  aspect-ratio: 1;
  border-radius: inherit;
  box-shadow: inset 0 0 0.25em #4c4da3;
  background: radial-gradient(#6667ac, transparent 50%) no-repeat 33.3% 10%/75%
      50%,
    radial-gradient(#454680, transparent 50%) no-repeat 60% 85%/50% 50%;
  background-color: #080928;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  gap: var(--gutter);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: var(--gutter);
  padding-top: calc(var(--gutter) * 3);
  border-radius: calc(var(--border-radius) - var(--pad));
  transition: opacity 1s var(--ease-out) 0.25s;
}
