:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.logo {
  font-family: "Albert Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.name {
  font-family: "Albert Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: white;
}

.bio {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55em;
  color: rgba(255, 255, 255, 0.7);
}

.instagram-btn {
  font-family: "Albert Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

a {
  text-decoration: none;
}
